In [1]:
import pandas as pd

with open("./avg-test-result-in-paper", "r") as f:
    df = pd.read_csv(f, delim_whitespace=True, engine='python')
df.head()

   file_system  num_job  first_bw  second_bw
0  Light-Dedup        1       682        537
1  Light-Dedup        2      1065        994
2  Light-Dedup        4      1461       1766
3  Light-Dedup        8      1590       2732
4  Light-Dedup       16      1352       2847

- The maximum improvement from first copy to second copy of Light-Dedup

In [3]:
df[df["file_system"] == "Light-Dedup"]["second_bw"] / df[df["file_system"] == "Light-Dedup"]["first_bw"]

0    0.787390
1    0.933333
2    1.208761
3    1.718239
4    2.105769
dtype: float64