In [1]:
import pandas as pd

with open("./avg-test-result-in-paper", "r") as f:
    df = pd.read_csv(f, delim_whitespace=True, engine='python')
df.head()

   file_system  num_job  first_bw  second_bw
0  Light-Dedup        1       699        643
1  Light-Dedup        2      1092       1182
2  Light-Dedup        4      1487       2061
3  Light-Dedup        8      1599       2999
4  Light-Dedup       16      1322       2841

- The maximum improvement from first copy to second copy of Light-Dedup

In [2]:
df[df["file_system"] == "Light-Dedup"]["second_bw"] / df[df["file_system"] == "Light-Dedup"]["first_bw"]

0    0.919886
1    1.082418
2    1.386012
3    1.875547
4    2.149017
dtype: float64