In [1]:
import pandas as pd

with open("./avg-test-result-in-paper", "r") as f:
    df = pd.read_csv(f, delim_whitespace=True, engine='python')
df.head()

                  system  whole_time  fp_time  IO_time  cmp_time  others    bw
0                   NOVA        2788        0     1881         0     907  1400
1   NO-SPECULATION-First        2623      292      475         0    1855  1488
2  NO-SPECULATION-Second        4769      302        0      3204    1262   819

- How many percentage of cmp_time occupy whole_time ?

In [7]:
dup_write = df.iloc[2]
print("Occupy: ", str(dup_write["cmp_time"]) + "/" + str(dup_write["whole_time"]), "=", dup_write["cmp_time"] / dup_write["whole_time"])

Occupy:  3204/4769 0.671838959949675