In [1]:
import pandas as pd

with open("./breakdown-table", "r") as f:
    df = pd.read_csv(f, delim_whitespace=True, engine='python')
df.head()

                  system  whole_time  fp_time  IO_time  cmp_time  others    bw
0                   NOVA        2792        0     1882         0     910  1398
1   NO-SPECULATION-First        2621      295      482         0    1843  1490
2  NO-SPECULATION-Second        4802      303        0      3181    1317   813

- How many percentage of cmp_time occupy whole_time ?

In [2]:
dup_write = df.iloc[2]
print("Occupy: ", str(dup_write["cmp_time"]) + "/" + str(dup_write["whole_time"]), "=", dup_write["cmp_time"] / dup_write["whole_time"])

Occupy:  3181/4802 = 0.6624323198667222